@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.food-munch-logo {
    width: 80px;
    height: 70px;
}

#navItem1 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem2 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem3 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem4 {
    color: #323f4b;
    font-family: "Roboto";
}

.banner-section-bg-container {
    background-image: url("images/bannerbg.jpg");
    height: 100vh;
    background-size: cover;
    align-items: end;
    padding-right: 80px;
}

.head-para{
    background-color: black;
    width: fit-content;
    height: fit-content;
    padding: 15px;
}

.hello-text{
    color: darksalmon;
    font-family: "Bree Serif";
    font-size: 45px;
    font-weight: bold;
}

.banner-heading {
    color: white;
    font-family: "Bree Serif";
    font-size: 45px;
    font-weight: bold;
}

.banner-caption {
    color: black;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
}

.custom-button {
    color: white;
    background-color: #d0b200;
    width: 160px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.book-hotels-section {
    background-color: white;
}

.book-resorts-section {
    background-color: aliceblue;
}

.menu-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.menu-item-image {
    width: 50px;
    height: 200px;
    border-radius: 16px;
}

.card-price{
    font-family: "Roboto";
    font-size: 15px;
    color: orange;

}

.menu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
}

.menu-item-link {
    color: #d0b200;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.menu-item-card {
    width: 550px;
    border-radius: 16px;
}

.menu-item-card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    background-color: rgb(194, 246, 246);
}

.footer-main{
    padding-top: 90px;
}

.address-main > div.col-lg-4 {
    border-bottom: dotted 1px #999;
}
.address-box {
    padding: 10px 0;
    margin-bottom: 30px;
}
.add-icon{
    width: 60px;
    display: inline-block;
    padding: 0px 5px;
}
.address-box .add-icon {
    background: #27303b;
    height: 75px;
    line-height: 75px;
    width: 75px;
    margin-right: 20px;
    text-align: center;
}
.add-icon img{
    width: 100%;
}
.address-box .add-icon img {
    max-width: 40px;
}
.add-content{
    padding-left: 70px;
}
.add-content h5 {
    font-size: 17px;
    color: #ffffff;
    padding: 0;
    font-weight: 500;
    margin-bottom: 10px;
}
.add-content p {
    font-size: 13px;
    color: #999999;
    font-weight: 300;
}
.add-content p a{
    font-size: 14px;
    color: #999999;
    font-weight: 300;
    word-wrap: break-word;
}
.add-content p a:hover{
    color: #ffb32d;
}
.footer-main{
    padding-top: 90px;
}

.address-main > div.col-lg-4 {
    border-bottom: dotted 1px #999;
}
.address-box {
    padding: 10px 0;
    margin-bottom: 30px;
}
.add-icon{
    width: 60px;
    display: inline-block;
    padding: 0px 5px;
}
.address-box .add-icon {
    background: #27303b;
    height: 75px;
    line-height: 75px;
    width: 75px;
    margin-right: 20px;
    text-align: center;
}
.add-icon img{
    width: 100%;
}
.address-box .add-icon img {
    max-width: 40px;
}
.add-content{
    padding-left: 70px;
}
.add-content h5 {
    font-size: 17px;
    color: #ffffff;
    padding: 0;
    font-weight: 500;
    margin-bottom: 10px;
}
.add-content p {
    font-size: 13px;
    color: #999999;
    font-weight: 300;
}
.add-content p a{
    font-size: 14px;
    color: #999999;
    font-weight: 300;
    word-wrap: break-word;
}
.add-content p a:hover{
    color: #ffb32d;
}

.chain-heading {
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
.chain-para {
    color: black;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 20px;
}
.chain-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.chain-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
}
.chain-container img {
    height: auto;
    max-width: 100%;
}

  .top-food-chain{
    margin-left: 40px;
    margin-right: 40px;
    height: fit-content;
    margin-bottom: 30px;
    border-radius: 15px;
}

.top-food-chain:hover{
    transform: scale(0.99);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    background-color: rgb(202, 247, 247);
}

.food-chain-image:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.book-butt{
	width: fit-content;
}

form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
